@font-face {
    font-family: 'Graphik LCG';
    font-weight: 100;
    src: url('../fonts/GraphikLCG-Thin.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 200;
    src: url('../fonts/GraphikLCG-Extralight.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 300;
    src: url('../fonts/GraphikLCG-Light.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 400;
    src: url('../fonts/GraphikLCG-Regular.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 500;
    src: url('../fonts/GraphikLCG-Medium.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 600;
    src: url('../fonts/GraphikLCG-Semibold.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 700;
    src: url('../fonts/GraphikLCG-Bold.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 800;
    src: url('../fonts/GraphikLCG-Black.woff2');
}

@font-face {
    font-family: 'Graphik LCG';
    font-weight: 900;
    src: url('../fonts/GraphikLCG-Super.woff2');
}